.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  pointer-events: none;
}

header {
  background-color: #282c34;
}
.App-header {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  &__logo {
    align-self: center;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  width: 1024px;
  margin: auto;
}

.App-nav {
  li {
    display: inline-block;
    padding: 10px;
    &:hover {
      background: #66666691;
      border-radius: 10px;
    }
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  &__search, &__add {
    margin: 20px 0;
    input {
      padding: 5px;
    }
  }
  &__item {
    padding: 10px;
    border: 1px solid #f1e7e7;
  }
}
